.die-and-rolled-face {
}

.die-faces {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  justify-self: center;
  align-self: center;
}

.die-face {
  user-select: none;
  width: 50px;
  height: 50px;
  border: 4px solid #503f2e;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  background-color: white;
  font-weight: bold;
  font-family: sans-serif;

  box-shadow: 5px 5px 15px #32271d;

  font-size-adjust: 0.5;
  letter-spacing: -0.2ch;
  overflow: hidden;
  text-overflow: clip;
}

.selected-die-face {
  border: 4px solid #f4d006;
  box-shadow: 5px 5px 25px #f4d006;
}

.die-rolled-face {
  height: min-content;
  width: min-content;

  align-self: center;
  justify-self: center;
  
  animation-duration: 3s;
  animation-name: wobble;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes wobble {
  from {
    rotate: 10deg;
  }

  to {
    rotate: -10deg;
  }
}
