.spent-resource-symbol {
  opacity: 0.5;
}

* {
  --fill: #fadf63;
}

.kept-symbol {
  text-shadow: 0.5ch 0.5ch 0.5ch #dd9c84;
  display: inline;
  border-radius: 8px;
  background: var(--fill);
  padding: 1ch;
  margin: 1ch;
  user-select: none;
  border: 3px solid var(--fill);
}

.kept-symbol:not(.spent-resource-symbol) {
  box-shadow: 0 0 10px white;
}

.kept-symbol:hover:not(.spent-resource-symbol) {
  border: 3px dashed white;
  box-shadow: 0 0 25px white;
  cursor: grab;
}

.kept-symbol:active:not(.spent-resource-symbol) {
  cursor: grabbing;
}

.kept-symbol:hover:disabled {
  border: 3px solid var(--fill);
}