.kept-symbol {
  display: inline;
  border: 3px dashed white;
  border-radius: 8px;
  background: #5e5c40;
  padding: 1ch;
  margin: 1ch;
  box-shadow: 5px 5px 10px #d1d0bc;
  user-select: none;
}

.kept-symbol:hover {
  background: #8f8f5e;
  cursor: grab;
}

.kept-symbol:active {
  cursor: grabbing;
}